.team1 {
    float: left;
    /*line-height: 5;*/
    /*width: 180px;*/
}

.team2 {
    float: right;
    /*line-height: 5;*/
    /*width: 180px;*/
}

.vs-img {
    width: 53px;
    margin: 0 20px 0 20px;
}