.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-Login {
 float: left;
    border-right: 3px solid;
    padding-right: 74px;
    width: 600px;
    padding: 53px;
    margin: 0 auto;
}
.App-Register {
      float: right;
    width: 600px;
    margin: 0 auto;
    padding-top: 53px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
